<div class="main_section">
    <div class="container">
      <div class="chat_container">
        <div class="col-sm-3 chat_sidebar">
          <!-- Sidebar and conversation list code remains unchanged -->
        </div>
  
        <!-- Main message section -->
        <div class="col-sm-9 message_section">
          <div class="row">
            <div class="new_message_head">
              <div class="pull-left">
                <!-- New Message button -->
                <button (click)="startNewMessage()">
                  <i class="fa fa-plus" aria-hidden="true"></i> New Message
                </button>
              </div>
              <div class="pull-right">
                <div class="dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Setting
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </div>
              </div>
            </div><!--new_message_head-->
  
            <div class="chat_area d-flex justify-content-center align-items-center">
              <!-- Default logo/message displayed on load -->

              <div class="card" style="width: 18rem;" *ngIf="chatHistory.length === 0 && !showMessageInput">
                <img src="logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ChatCat</h5>
                  <p class="card-text">Welcome to ChatBot! Click "New Message" to start a conversation.</p>
                  <a href="#" class="btn btn-primary" (click)="startNewMessage()">New Message</a>
                </div>
              </div>
  
              <!-- Chat area with history -->
              <ul class="list-unstyled" *ngIf="chatHistory.length > 0">
                <li *ngFor="let chat of chatHistory" class="left clearfix" [class.admin_chat]="chat.sender === 'admin'">
                  <span class="chat-img1 pull-left">
                    <img [src]="chat.sender === 'user' ? 'avatar.png' : 'logo.png'" alt="User Avatar" class="img-circle">
                  </span>
                  <div class="chat-body1 clearfix">
                    <div><pre>{{ chat.text | json }}</pre></div>
                    <div class="chat_time pull-right">{{ chat.time }}</div>
                  </div>
                </li>
              </ul>
            </div><!--chat_area-->
  
            <!-- Message input and Ask button, only shown after clicking New Message -->
            <div class="message_write" *ngIf="showMessageInput">
              <textarea class="form-control" placeholder="type a message" [(ngModel)]="userQuery"></textarea>
              <div class="clearfix"></div>
              <div class="chat_bottom">
                <button class="btn btn-primary" (click)="fetchQueryResponse()" [disabled]="isLoading">
                  Ask
                </button>
              </div>
            </div>
  
          </div>
        </div> <!--message_section-->
      </div>
    </div>
  </div>
  